<mat-toolbar color="primary">
    <button  (click)="toggleSidebar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="font-size:30px;">menu</mat-icon>
      </button>
    <span class="spacer"></span>
    <!-- <span class="welcome-text">Hello {{ user }}</span> -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person_pin</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <span class="mb-1" style="display: flex; align-items: center;">
          <mat-icon class="mr-2">person</mat-icon>Profile
        </span>
        <span class="mb-1" style="display: flex; align-items: center;">
          <mat-icon class="mr-2">settings</mat-icon>Setting
        </span>
        <span style="display: flex; align-items: center;">
          <mat-icon class="mr-2">logout</mat-icon>Logout
        </span>
      </button>
    </mat-menu>
  </mat-toolbar>