<div class="login-container">
    <div class="login-content">
      <mat-toolbar class="login-toolbar" color="primary">My App</mat-toolbar>
      <mat-card>
        <form class="p-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-icon matPrefix>person_outline</mat-icon>
            <input autofocus type="text" matInput placeholder="Username" formControlName="username">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
          <div class="mb-3">
            <button type="submit" class="w-100" mat-raised-button color="primary">Login</button>
          </div>
          <p>Not a Member ?<a href="/register"> Register here</a></p>
        </form>
      </mat-card>
    </div>
  </div>