<div class="container-fluid p-4">
   <h1>Dashboard</h1>
    <div class="row mt-4 mb-5">
        <div class="col-sm-3 mt-3">
            <div class="card bg-c-blue order-card shadow">
                <div class="card-block">
                    <h3 class="m-b-20 text-center">Total Users</h3>
                    <h2 class="text-center"><span>2000</span></h2>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-3">
            <div class="card bg-c-green order-card shadow">
                <div class="card-block">
                    <h3 class="m-b-20 text-center">Subscriptions</h3>
                    <h2 class=" text-center"><span>2000</span></h2>
                </div>
            </div>
        </div>
        <div routerLink="/sublist" class="col-sm-3 mt-3">
          <div class="card bg-c-yellow order-card shadow">
              <div class="card-block">
                  <h3 class="m-b-20 text-center">Total Subscriber</h3>
                  <h2 class="text-center"><span>1000</span></h2>
              </div>
          </div>
      </div>

      <div routerLink="/artlist" class="col-sm-3 mt-3">
        <div class="card bg-c-pink order-card shadow">
            <div class="card-block">
                <h3 class="m-b-20 text-center">Total</h3>
                <h2 class="text-center"><span>1000</span></h2>
            </div>
        </div>
    </div>
 </div>
 <div class="row">
    <div class="col-sm-6">
        <table class="table table-hover table-bordered table-stripe">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Larry the Bird</td>
                <td>@twitter</td>
                <td>@fat</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-hover table-bordered table-stripe">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                  <td>@fat</td>
                </tr>
              </tbody>  
          </table>
    </div>
 </div>
</div>